extends layout.pug 

block title
  title Activate your Goally account

block content 
  p Greetings!
  p We have receieved a request to create a Goally account with this email address.
  p To get started, you must click the link below to activate your account:
  p(class="text-center"): a(href=verificationLink class='btn btn-primary btn-lg') Verify Account
  p If you are no longer interested or did not sign up for this account, you can safely disregard this email.
  p Cheers!
    br
    | The Goally Email Robot
  