doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block title
    style
      include email-style.css 
  body 
    h1(class="text-center") Goally
    div(class="card"): div(class="card-body"): block content